input[type="button"] {
    width: 100%;
    color:white;
    background-color: rgb(94, 161, 215);
    font-size: larger;
}

input {
    height: 70px;
}

input[type="text"] {
    font-size: large;
    width: 90%;
    height: 50%;
    border: 0cm;
    text-align: right;
}

#sidebar {
    width: 20%;
}

#main {
    width: 60%;
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

table {
    width: 60%;
}

td {
    width: 25%;
}

#display {
    margin-top: 15px;
    width: 60%;
    border: 3px solid;
}

#heading {
    width: 60%;
    height: 6rem;
    background-color: green;
    font-size: larger;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}